@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
   font-family: 'Quicksand', sans-serif;
   margin: 0;
   padding: 0;
}

h2, h3 {
   color: #00a2c6
}

header {
	display: inline;
}

footer {
   padding: 20px;
   color: white;
   background-color: #00a2c6;
   text-align: center;
   font-weight: bold;
}

nav a {
   font-size: 18px;
   font-weight: 400;
   text-decoration: none;
   color: white;
}

nav a:hover {
   font-weight: bold;
}

.profile header {
	text-align: center;
}

.featured-image {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	object-position: center;
}

.profile figure {
	margin: 0 auto;
}

.profile img {
	width: 150px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
}

.jumbotron h1{
	color: #027e94;
}

.jumbotron p{
	color: #027e94;
	font-weight: 600;
}

.jumbotron {
	font-size: 20px;
	padding: 60px;
	background-image: url(../image/gedung-sate1.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 0.8;
	background-color: #027e94;
	text-align: center;
	color: white;
}

nav li {
	display: inline;
	list-style-type: none;
	margin-right: 20px;
}

nav {
	background-color: #00a2c6;
	padding: 5px;
	position: sticky;
	top: 0;
}

main {
	padding: 20px;
	overflow: auto;
}

#content {
	float: left;
	width: 75%;
}

aside {
	float: right;
	width: 25%;
	padding-left: 20px;
}

@media screen and (max-width: 1000px) {
	#content,
	aside {
		width: 100%;
		padding: 0;
	}
}